<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="sass/modules/main2.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Lobster&display=swap" rel="stylesheet">
    <title>Home</title>
</head>

<body id="siteContainer">
    <p style="text-align: center;">
        <object  data="images/Y_logo.svg" type="image/svg+xml" class="logo"></object>
    </p>
    <header>
        <nav class="desktop"  id="navDesktop">
            <h2 class="hidden">Main Navigation Desktop</h2>
            
            <ul>
                <li><a href="Home.html">HOME</a></li>
                <li><a href="Artworks.html">IMAGE</a></li>
                <li><a href="package.html">WEB&VIDEO</a></li>
                <li><a href="Contact.html">CONTACT</a></li>
            </ul>
            
        </nav>
    </header>
    
    <main class="teamText"  id="app"><!--------vue will attach--->
        
        <div class="hero">
            <br>
            <h2>{{ welcome }}</h2>
    
            <p>{{ topic }}</p>
            
            <ul >
                <li v-for="member in member">{{ member }}</li>
            </ul>
            <p>{{ text }}</p>
            <a class="teamText" href="./Contact.html">
                <button class="close" @click="logicbutton">Contact Me</button>
            </a>
        </div>    
        
        <br>

        <div class="prductDescNew">   
            <section v-for="member in remoteData">
                <!----<pre>{{ member }}</pre>--->
                <h2>{{ member.topic }}</h2>
                <h3>{{ member.value }}</h3>
                <p>{{ member.text }}</p>
                <img :src='"images/" + member.photo' alt="member.photo" >
            </section>
        </div>

        <div class="footer" >
            <p class="hero">{{ copyright }}</p>
           
        </div>
    
        
    </main>
    
    
    
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    
    <script src="js/main_About.js" type="module" defer></script>
    

</body>

</html>
