<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Lobster&display=swap" rel="stylesheet">
    <link  href="sass/main_p.css" rel="stylesheet" type="text/css" media="screen">
    <link href="css/main_home.css" rel="stylesheet">
    <link href="css/player.css" rel="stylesheet" type="text/css" media="screen">
 
    <title>Motion</title>
</head>

<body id="siteContainer">
    <header>
        <p style="text-align: center;">
            <object  data="images/Y_logo.svg" type="image/svg+xml" class="logo"></object>
        </p>
        <h1 class="hidden">Video</h1>    
        <nav class="desktop"  id="navDesktop">
            <h2 class="hidden">Main Navigation Desktop</h2>
            
            <ul>
                <li><a href="Home.html">HOME</a></li>
                <li><a href="Artworks.html">IMAGE</a></li>
                <li><a href="package.html">WEB&VIDEO</a></li>
                <li><a href="Contact.html">CONTACT</a></li>
            </ul>
            
        </nav>
    </header>



    <main id="app">
        
        <nav id="character-nav">
            <ul class="characters">
                <!-- prof thumb component goes here -->
                <!-- pass the current data object into each new component using the :hero props binding -->
                <metalpackagelink @loadlb="loadLightContainer" v-for="hero in heroData" :hero="hero"></metalpackagelink>
            </ul>
        </nav>

        <!-- Lightcontainer can go here -->
        <lightcontainer @closelb="this.showLightContainer = false" v-if="showLightContainer" :hero="lightcontainerData"></lightcontainer>
        <!-----end lightcontainer------>

        <div id="container">
            <h1>Motion Design</h1>
            <video id="myVideo">
                <source src="video/logo.mp4">
            </video>
            <output id="timeOut">Time:0</output>
            <output id="vidNum">Video: 1/4</output>
            <div id="playButtons">
                <button id="btnPlay">Play</button><br>
                <button id="btnPause">Pause</button><br>
                <button id="btnStop">Stop</button>
            </div>
            <div id="nextButtons">
                <button id="btnNext">Next Video</button>
            </div>
        
        </div>

        <div class="footer" >
            <p class="hero">{{ copyright }}</p>
           
        </div>
    </main>
    <!-- make this a sticky footer so it's always at the bottom-->
  

    <!-- load script tags at the bottom -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/main_p.js" type="module" defer></script>
    <script src="js/play.js" type="module" defer></script>
</body>
</html>
